/* Hyperplexed "The Easiest website menu that will wow any user" */

body {
    background-color: rgb(20, 20, 20);
    margin: 0px;
}

#menu {
    /* fill 100% of viewport */
    height: 100vh;
    /* flex so we can align items vertically in the center */
    display: flex;
    align-items: center;
}

.menu-item {
    color: white;
    font-size: clamp(3rem, 8vw, 8rem);
    font-family: "Ibarra Real Nova", serif;

    /* stack items on top of eachother */
    display: block;
    /* remove hyperlink underline */
    text-decoration: none;

    padding: clamp(0.25rem, 0.5vw, 1rem) 0rem;

    /* on hover */
    transition: opacity 400ms ease;
}

#menu-items {
    margin-left: clamp(4rem, 20vw, 48rem);
    position: relative;
    z-index: 2;
}

/* reduce opacity when all links are hovered */
#menu-items:hover > .menu-item {
    opacity: 0.3;
}
/* override opacity for only currently hovered link */
#menu-items:hover > .menu-item:hover {
    opacity: 1;
}

/* on link hover, reduce bg size and opacity on bg pattern*/
#menu-items:hover ~ #menu-background-pattern {
    background-size: 11vmin 11vmin;
    opacity: 0.5;
}

/* on link hover, reduce bg size and opacity on bg image*/
#menu-items:hover ~ #menu-background-image {
    background-size: 100vmax;
    opacity: 0.15;
}

/* ------------ background pattern ------------ */
#menu-background-pattern {
    height: 100vh;
    width: 100vw;

    /* radial gradient shape for bg-image */
    background-image: radial-gradient(
        rgba(2255, 255, 255, 0.1) 9%,
        transparent 9%
    );
    background-position: 0% 0%;
    background-size: 12vmin 12vmin;

    /* set pattern behind menu items */
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1;

    /* transition smoothly on link hover */
    transition: opacity 800ms ease,
        background-size 800ms ease,
        background-position 800ms ease;
}

/* ------------ background image ------------ */
#menu-background-image {
    height: 100%;
    width: 100%;

    background-image: url("https://wallpapercave.com/dwp2x/2ERlMG9.jpg");

    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 0;

    background-position: center 40%;
    background-size: 110vmax;
    opacity: 0.3;

    transition: opacity 800ms ease,
        background-size 800ms ease,
        background-position 800ms ease;

}


/* shift pbg-atterns according to which item is hovered */
#menu[data-active-index="0"] > #menu-background-pattern {
    background-position: 0% -25%;
}
#menu[data-active-index="1"] > #menu-background-pattern {
    background-position: 0% -50%;
}
#menu[data-active-index="2"] > #menu-background-pattern {
    background-position: 0% -75%;
}
#menu[data-active-index="3"] > #menu-background-pattern {
    background-position: 0% -100%;
}

/* shift bg-image according to which item is hovered */
#menu[data-active-index="0"] > #menu-background-image {
    background-position: center 45%;
}
#menu[data-active-index="1"] > #menu-background-image {
    background-position: center 50%;
}
#menu[data-active-index="2"] > #menu-background-image {
    background-position: center 55%;
}
#menu[data-active-index="3"] > #menu-background-image {
    background-position: center 60%;
}